name: shell commands

on: push

jobs:
  my-job:
    runs-on:  ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: echo string
        run: echo "Hello, world!"
      - name:  multi string
        run: |
          node -v
          npm -v
      - name: python commands
        run:  |
          import platform
          print(platform.processor())
          shell: python


        


  my-second-job: 
     runs-on: windows-latest
     steps:
       - name: Directory
         run: get-location
       - name: Directory bash
         run: pwd
         shell: bash
         
         


             








